// Sci Fi Blue Colours
// https://www.color-hex.com/color-palette/73225
$sfb-5: #002439;
$sfb-4: #005066;
$sfb-3: #4e7988;
$sfb-2: #78cce2;
$sfb-1: #e4eff0;

// Custom CSS
.gd-bm-body-container {
  max-width: 100%;
}

.gd-bm-alpha-flex {
  flex: 0 0 60px;
}

.gd-bm-alpha-container {
  width: 45px;
}

.gd-bm-bookmark-link {
  color: $sfb-1 !important;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .gd-bm-body-container {
    max-width: 992px;
  }

  .gd-bm-bookmark-link {
    color: $sfb-1 !important;
    font-size: 1.5rem;
  }
}